@import "tailwindcss";



body {
  background-image: url("./assets/17580.jpg");
  background-size: cover;       /* Ensures the image covers the entire screen */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  background-attachment: fixed; /* Keeps background fixed while scrolling */
 
    
  
  
}

body {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight:"";
  font-style: normal;
}
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}